{% extends 'layout.html' %}

{% block content %}

    <div class="alert alert-primary" role="alert">
            <h4>Change Password without old password</h4>
        </div>
        <form method="POST">
            {% csrf_token %}
        {% if form.non_field_erroes %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}

        {% for fm in form %}
        
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> <br>
        
        {% endfor %}
        <button type="submit" class="btn btn-danger">Update Password</button>
        </form>
        <a href="{% url 'profile' %}" type="submit" class="btn btn-danger">Profile</a>
   
{% endblock content %}