{% extends 'layout.html' %}

{%block title %} WebDevCode - About {% endblock title %}
{% block about_active %} active {% endblock about_active %}

  {% block body %}
<h1 class="my-3">  About</h1>
<h4>About the Author</h4>
<p>Hello! I’m Shubham Kumar (^^)</p>

<p>Founder & Developer of “Spyboy” app. Crafting ideas into reality.</p>

<p>I have a strong interest in technology, exploring code & programming. I’m a self-taught Developer & have created a few Android apps.</p>

<p>Most fascinating thing about me is I am a Pen-tester/ethical hacker. I love to define myself as self-proclaimed an Ethical hacker.</p>

<p>Love pen-testing. everyone & everything is vulnerable, and I just love exposing those vulnerabilities. The only way to patch a vulnerability is by exposing it first.</p>

<p>I also blog on Ethical hacking here (www.spyboy.blog). Our blog has around 10 million hits.</p>

<h4 class="my-3">About Spyboy Developer:</h4>

<a href="/">https://spyboydeveloper.blogspot.com/</a>

<h2 class="my-3">About Blog</h2>

<p>At Spyboy.blog, We Take The Responsibility Of Feeding Your Curiosity For Technical Information With The Latest Tech News, Hacking World Updates</p>

<p>This blog is about ethical hacking, computer programming, computer security, exploits the weakness in a computer system or computer network, modify computer appearance in (windows), Notepad tricks, modify games and how to plays with the codings of reg, bat, VBS, jar, HTML, PHP etc.</p>

<h4></h4>
<p>Our main goal is to provide you with the latest information about technology, hacking news, tutorials to make the users more aware of the New things in Technological world.  We provide information about ethical hacking, hacking attacks and DDOS attacks, online phishing, the dark web and how you can protect yourself from dark web spams.</p>

<h4>What to expect from this site</h4>
<p>In this blog, you will learn tons of computer tips and tricks that will change you to a computer geek (even without you knowing it). Topics covered here include troubleshooting your computer, optimizing operating system performance (be it Windows, Mac or Linux), simplifying tasks, software review and plenty of cool stuff. If you think that computer technology is only for geeks, then we aspire to change your thinking.</p>
  {% endblock body %}