{% extends 'layout.html' %} 
{% block title %} category {% endblock title %} 
{%block category_active %}active{% endblock category_active %} 
{% block body %}

<div class="categories container my-4">
  <div class="row">
            <div class="col-sm-8">
                <div class="category_name">
                    <h2>{{category1.name}}</h2>
                    <p class="lead">{{category1.description}}</p>
                </div>

                <div class="category_posts my-4">
                    {% for post in category1.post.all %}
                    <div class="card my-3 border-0">
                    <div class="col-md-12">
                        <div class="card-body">
                        <a href="{{post.category.slug}}/{{post.slug}}">
                            <h3 class="card-title">{{post.title}}</h3></a
                        >
                        <a
                            class="lead text-secondary"
                            href="{{post.category.slug}}"
                            >{{post.category}}</a
                        >
                        , {{post.timestamp}}
                        <p class="card-text">{{post.content|safe|slice:':400'}}</p>
                        {% comment %}
                        <a
                            class="my-0"
                            href="/category/{{post.category.slug}}/{{post.slug}}"
                            >Read more</a
                        >
                        {% endcomment %}
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-sm-4">
                <div class="recent_post mb-4">
                <h1 class="text-center d-block bg-light text-dark lead py-3 my-3">
                    <b>Recent Post</b>
                </h1>

                <ul>
                 {% for post in post %}
                    <li>
                    <a
                        class="text-secondary text-decoration-none"
                        href="{{post.category.slug}}/{{post.slug}}"
                    >
                        {{post.title}}</a
                    >
                    </li>
                {% endfor %}
                </ul>

                </div>

                <div class="category my-5">
                <h1 class="text-center d-block bg-light text-dark lead py-3 my-3">
                    <b>Categories</b>
                </h1>
                <ul>
                    {% for category in category %}
                    <li>
                    <a
                        class="lead text-secondary text-decoration-none"
                        href="{{category.slug}}"
                        >{{category.name}}</a
                    >
                    </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
   </div>
</div>

{% endblock body %}
